/* Multiselect
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: none !important;}
.ui-multiselect i {font-size: 14px;width: 40px;margin: 0;display: inline-block;text-align: center; cursor: pointer;}
.ui-multiselect .box:first-child {padding-left: 0;}
.ui-multiselect .box:last-child {padding-right: 0;}

.ui-multiselect .text_ textarea {width: 100%; margin-top: 10px;}
.ui-multiselect .top_ {width: 250px;position: absolute;height: 23px;padding: 7px 5px 0 5px;right: 40px;top: 0;}
.ui-multiselect .top_ .spinner_ {width: 84px; float: right;margin: 0 10px; padding-top: 0;}
.ui-multiselect .top_ .select_ {width: 100px; float: right;margin: 0 10px;}
.ui-multiselect .top_ .select_ select {width: 100%;height: 20px;}


.ui-multiselect .panel-heading {padding: 10px 0 !important; border: 1px solid #ECECEC;  background: #F8F8F8;} 
.ui-multiselect .panel-heading  h6 {margin: 7px 0;}
.ui-multiselect .box-content {border: 1px solid #ECECEC;}
.ui-multiselect { /* border: solid 1px; */ font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; /*float:left;*/ }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { padding: 5px 35px 5px 10px; border-bottom: 1px solid #eee}

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; /*float:left; border-left: 1px solid; */}
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding: 5px 35px 5px 10px; border-bottom: 1px solid #eee}
.ui-multiselect ul.available li .action {margin-top: 3px;}
 
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { /*float: right; padding: 7px;*/}
.ui-multiselect .remove-all { /*float: right; padding: 7px;*/ cursor: pointer;}
.ui-multiselect .search { /* float: left; padding: 4px; */}
.ui-multiselect .count { /*float: left; padding: 7px;*/}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect ul.selected li a.action { position: absolute; right: 14px; top: 5px; }
.ui-multiselect ul.available li a.action { position: absolute; right: 14px; top: 2px; }

 
.ui-multiselect input.search {  padding: 1px; opacity: 0.5; margin: -3px 0 0 0;  }

.connected-list {height: 200px;}
.ui-state-default input {width: 60px;float: right;height: 22px; font-size: 10px; text-align: center; margin-right: 0;border: none;background: none; cursor: default;}
.ui-state-default .spinner_ {width: 78px;height: 23px;padding: 0;right: 40px;top: 0;}
.ui-state-default .spinner_ .fa-plus-square{float: right; cursor: pointer; padding-top: 4px; width: auto}
.ui-state-default .spinner_ .fa-minus-square {float: left; cursor: pointer; padding-top: 4px; width: auto}



.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: none !important;}


@media (max-width: 768px) {
	.ui-multiselect .box:first-child {padding: 0;}
	.ui-multiselect .box:last-child { padding: 15px 0 0 0;}
}




